:root {
  --primary1: #eaeaea;
  --primary2: #c0d6df;
  --primary3: #4f6d7a;
  --primary4: #e8dab2;
  --text-color: #dd6e42;
}

.dark {
  --primary1: #0d0c1d;
  --primary2: #161b33;
  --primary3: #474973;
  --primary4: #a69cac;
  --text-color: #f1dac4;
}

body {
  background: var(--primary1);
  color: var(--text-color);
}

button {
  background-color: var(--primary3);
  color: var(--primary4);
}

td {
  border: 0.5px solid var(--primary4);
  font-size: 20px;
  background-color: var(--primary1);
}

table {
  border-radius: 6px;
  border-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}

.board td {
  width: 40px;
  height: 40px;
  text-align: center;
  transition: 0.5s;
}

.cell {
  background-color: var(--text-color);
  /* border-radius: 10px;
  background: linear-gradient(90deg, #000 0%, lightgrey 100%);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6); */
}

.btnSmiley {
  width: 80px;
  height: 80px;
  font-size: 40px;
  margin: 20px;
  grid-area: smiley;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50%;
}

.lives {
  font-size: 22px;
  grid-area: lives;
  margin: 6px;
  text-align: center;
}
.levels {
  text-align: center;
  grid-area: levels;
}

.levels button {
  margin: 6px;
  padding: 6px;
  border-radius: 6px;
  width: 100px;
}

.hints {
  grid-area: hints;
}

.hints button {
  margin: 6px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  font-size: 22px;
  grid-area: mega-hint;
}

.hints .available {
  background-color: var(--primary2);
}
.board-container {
  grid-area: board;
}

.mega-hint {
  font-size: 16px;
  border-radius: 10px;
  padding: 12px;
  margin: 12px;
  grid-area: mega-hint;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
}

.timer {
  font-size: 22px;
  margin: 6px;
  grid-area: timer;
  text-align: center;
}
.time {
  display: inline-block;
  padding: 6px;
}

.score {
  font-size: 22px;
  grid-area: score;
}

.mines {
  font-size: 22px;
  margin: 6px;
  grid-area: mines;
  text-align: center;
}
.mines-count {
  display: inline-block;
  padding: 6px;
}
.title {
  grid-area: header;
  text-align: center;
}

.color-mode {
  grid-area: mode;
  background-color: transparent;
  border-color: transparent;
  font-size: 30px;
}

.game {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--primary3);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: auto;
  column-gap: 6px;
  row-gap: 6px;
  justify-content: center;
  align-content: center;
  width: fit-content;
  background-color: var(--primary2);

  grid-template-areas:
    'mode header .'
    'levels levels levels'
    'score  score score'
    'hints hints .'
    'smiley smiley smiley'
    'board board board'
    'mines  lives  timer'
    'mega-hint mega-hint mega-hint';
}
